.more-news-section {
  padding-top: 19px;
  margin-bottom: 330px;
  background-image: url("../../assets/images/videoX.png"),
    url("../../assets/images/videoBezakOngTepa.png"),
    url("../../assets/images/videoBezakChap.png"),
    url("../../assets/images/videoUCh.png");
  background-size: 230px, 350px 350px, 280px 130px, 164px 136px;
  background-repeat: no-repeat;
  background-position: calc(50% + 430px) calc(50% + 110px),
    calc(50% + 450px) calc(50% - 240px), calc(50% - 500px) calc(50% + 50px),
    calc(50% - 420px) calc(50% - 347px);
  &__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &__data {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 15px;
  }
  &__desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 82px;
    max-width: 979px;
    width: 100%;
  }
  &__img-block {
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 81px;
  }
  &__description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 35px;
    max-width: 979px;
    width: 100%;
  }
  &__info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin: 0;
    max-width: 979px;
    width: 100%;
  }
}
